* {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

html, body {
  color: #4f4f4f;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.container {
  padding: 2rem 1rem;
}

.row {
  margin: 1.5rem 0;
}

.app-header {
  background-color: #7bb806;
  box-shadow: 0px 3px 5px 2px #e3e3e3;
  color: white;
}

.app-header .container {
  align-items: center;
  display: flex;
  padding: 1rem;
}

.app-header .logo {
  margin-right: 1rem;
  width: 3rem;
}

.site-title {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
}

.app-main .form {
  align-items: center;
  display: flex;
}

.app-main .form .data {
  width: calc(100% / 2 - 2.5rem);
}

.app-main .form label {
  display: block;
  margin-bottom: 0.5rem;
}

.app-main .form textarea {
  border: 1px solid #aaa;
  border-radius: 10px;
  min-height: 200px;
  width: 100%;
}

.app-main .form .to {
  text-align: center;
  width: 5rem;
}

.app-main .actions {
  display: flex;
  justify-content: center;
}


.app-main .actions button {
  background: #423a95;
  border:none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0 1rem;
  padding: 0.5rem 2rem;
}

.app-main .actions button:hover {
  background: #695fcc;
}


.app-main .actions button:focus {
  outline: none;
}
